@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Maven Pro", sans-serif;
}

#nav-expanded {
    display: none;
}

nav {
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #ffc200;
    width: 100%;
    overflow: hidden;
    padding-left: 2px;
    z-index: 5;
}

.color-mode {
    display: none;

}

nav #main-nav {
    display: none;
    margin-top: -5px;
}

nav a.icon {
    width: 40px;
    height: 6px;
    display: block;
    position: absolute;
    right: 10px;
    top: 25px;
}

.name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.name-logo {
    margin-top: 40px;
    margin-left: 10px;
    font-size: 1.25rem;
    letter-spacing: 1.5px;
}

#main-nav li a {
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 1.5;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -35px;
}

#main-nav li a:hover {
    text-decoration: 4px underline #ffc200;
    color: black;
    text-underline-position: under;
}

li {
    list-style: none;
}

main {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 10rem;
}

/*about section */

#portfolio-img {
    text-align: center;
}

#portfolio-pic {
    max-width: 100%;
    width: 500px;
    height: auto;
}

#welcome {
    color: #5b5b5b;
    font-size: 0.875rem;
    margin-left: 1.8rem;
    letter-spacing: 1px;
}

.intro-title {
    font-size: 2.4rem;
    letter-spacing: 1.5px;
    line-height: 1.2;
}

#name-title {
    color: #ffc200;
    font-size: 2rem;
}


.intro-paragraph {
    color: #5b5b5b;
    font-weight: 100;
    line-height: 1.5;
    font-size: 1.125rem;
    text-align: left;
    margin-bottom: 2rem;
}

#resume-btn {
    background-color: #eee;
    color: #5b5b5b;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    border-radius: 2rem;
    font-size: 0.8rem;
    display: block;
    margin-bottom: 1rem;
}

#document {
    width: 13px;
}

#github-btn {
    background-color: #474559;
    color: white;
    text-decoration: none;
    padding: 1rem;
    text-align: center;
    border-radius: 2rem;
    font-weight: bold;
    font-size: 0.8rem;
    display: block;
}

#resume-btn:hover {
    color: #ffc200;
    transition: 0.2s ease-in;
}

#github-btn:hover {
    background-color: #ffc200;
    color: white;
    transition: 0.2s ease-in;
}

#portfolio-img {
    margin-top: 100px;
    margin-bottom: 100px;
    cursor: pointer;
}

.skills-title {
    font-size: 1.59rem;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
    color: #353535;
}

.pink-code {
    color: #ff94b4;
}

.tech-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -35px;
}

.tech-skills {
    cursor: pointer;
    background-color: #eee;
    margin-bottom: 1rem;
    margin-right: 0.4rem;
    max-width: 150px;
    max-height: 100%;
    height: 40px;
    display: flex;
    padding: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border-radius: 0.5em;
    position: relative;
    overflow: hidden;
}

.tech-skills:after {
    content: '';
    position: absolute;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255, 255, 255, 0.5) 50%, rgba(229, 172, 142, 0));
    transform: rotateZ(60deg) translate(-5em, 7.5em);
}

.long-skill {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.tech-skills:hover::after,
.tech-skills:focus::after {
    animation: sheen 1s forwards;
    background-color: #ff94b4;
}

@keyframes sheen {
    100% {
        transform: rotateZ(60deg) translate(1em, -9em);
    }
}

/*projects section*/

#projects {
    letter-spacing: 1px;
    color: #353535;
    text-align: center;
}

.project-img {
    box-shadow: 0px 0px 9px 0px #909090;
}

.projects-title,
.experience-title,
.extras-title,
.links-title {
    font-size: 2rem;
    text-align: center;
    margin-top: 5rem;
    color: #353535;
}

.job-title,
.school-name {
    background-color: #eee;
    padding: 1rem;
    margin: -16px;
    margin-bottom: 10px;
}

.title-dots {
    color: #ffc200;
}

.dot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 100px;
}

.dot {
    width: 8px;
    height: 8px;
    background-color: #c2c2c2;
    border-radius: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
}

.dot:hover {
    background-color: #ffc200;
}

#project2,
#project3,
#project4,
#project5 {
    display: none;
}

.github-link {
    text-decoration: none;
    color: #353535;
    font-size: 1.3rem;
    display: block;
}

.live-view {
    display: block;
    margin-top: 20px;
}

.code {
    color: transparent;
    height: 10px;
    margin-right: 5px;
    transition: color 0.3s ease-out;
    font-weight: bold;
}

.github-link:hover .code {
    color: #ffc200;
}

.code-title {
    color: #ffc200;
    font-weight: bold;
}


/*experience section*/

#experience {
    padding-bottom: 2rem;
}

.card {
    margin-top: 2rem;
    box-shadow: 0px 0px 9px 0px #909090;
    padding: 1rem;
    line-height: 1.5;
    border-bottom: 1px solid #ffc200;
    border-radius: 6px;
    cursor: pointer;
}

.card:hover {
    border-bottom: 1px solid #ff94b4;
}

.cert-link {
    color: #353535;
}

.cert-link:hover {
    color: #ffc200;
    transition: 0.2s ease-in;
}

.job-name,
.date,
.major {
    margin-top: 1rem;
    font-size: 1rem;
    color: #5b5b5b;
    font-weight: 400;
}

.date {
    color: #ffc200;
    font-size: 0.9rem;
    display: block;
}

.job-description .job-item {
    list-style: square;
    color: none;
}

hr {
    border-color: #ffc200;
}

/*contact section*/

.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-google {
    max-width: 100%;
    width: 700px;
    margin-top: 3rem;
}

svg {
    width: 40px;
}

img {
    max-width: 100%;
    width: 850px;
}

.links-title {
    font-size: 1.7rem;
}

a.social {
    display: inline-block;
    text-indent: -9999px;
    margin-left: 5px;
    width: 35px;
    height: 35px;
    background-size: 35px 35px;
    opacity: .4;
    transition: all .5s;
}

a.social:hover {
    opacity: 1;
}

a.twitter {
    background-image: url(images/twitter.svg);
}

a.linkedin {
    background-image: url(images/linkedin.svg);
}

a.github {
    background-image: url(images/github.svg);
}

a.medium {
    background-image: url(images/medium.svg);
}

a.dev {
    background-image: url(images/dev.svg);
}

a.email {
    background-image: url(images/email.svg);
}

a.ddi {
    background-image: url(images/ddi.png);
}

.contact-list {
    text-align: center;
    margin-left: -40px;
}

.contact-list .contact-item {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

/*footer section*/

footer {
    background-color: black;
    height: 6vh;
    color: #ffc200;
    margin: 0 -0.5rem -0.5rem -0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;

}


@media (min-width: 600px) {
    .buttons-container {
        display: flex;
        justify-content: flex-start;
    }

    #resume-btn,
    #github-btn {
        flex-basis: 200px;
        height: 50px;
        margin-left: 0.5rem;
    }
}

@media (min-width: 768px) {
    .color-mode {
        display: block;
        margin-top: -65px;
        float: right;
        margin-right: 10px;
        cursor: pointer;
    }

    .color-title {
        display: inline-block;
    }

    .name {
        margin-left: 15px;
    }

    #ham-menu-icon {
        display: none;
    }

    #nav-expanded {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -45px;
        margin-left: 20px;
    }

    #nav-expanded li a {
        margin-right: 2.5rem;
        text-decoration: none;
        color: black;
        font-size: 1.1rem;
        font-weight: 600;
        display: block;
    }

    #nav-expanded li a:hover {
        transform: translateY(20%);
    }

    #projects {
        position: relative;
    }

    .project-container {
        position: relative;
        display: block;
        margin: 0 auto;
        margin-left: 80px;
        margin-right: 80px;
    }

    .work-container,
    .education-container,
    .extra-education {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .card {
        flex-basis: 55%;
        margin-right: 1rem;

    }
}

@media (min-width: 1024px) {

    .color-mode {
        margin-right: 50px;
    }

    .about-container,
    .contact-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .welcome-container {
        width: 500px;
        margin-right: 2rem;
    }

    .projects::before {
        content: '←';
        color: #353535;
        font-size: 4rem;
        position: absolute;
        top: 40%;
        margin-left: -75px;
    }

    .projects::after {
        content: '→';
        color: #353535;
        font-size: 4rem;
        position: absolute;
        top: 40%;
        margin-left: 430px;
    }

    .links-container {
        margin-right: 2rem;
    }

    .links-title {
        margin-bottom: 5rem;
    }

    .card {
        flex-basis: 35%;
        margin-right: 1rem;

    }

}
